.admin_wrap{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    padding: 100px 0;
    .card{
        width: 100%;
        border: 2px solid lime;
        text-align: center;
        color: #fff;
        img{
            width: 100%;
            height: 150px;
            object-fit: contain;
        }
        p{
            min-height: 148px;
        }
        button{
            background-color: #000;
            color: #fff;
            border: 1px solid lime;
            padding: 5px 10px;
            cursor: pointer;
            transition: .5s;
            &:hover{
                background-color: lime;
                color: #000;
            }
        }
    }
}